body{
    background-color: rgb(43, 133, 43);
}
h1{
    color: black;
    font-size: 50px;
}
.blanco{
    color: white;
    font-size: 15px;
    font-style: italic;
}
h4{
    color: orange;
    font-size: 25px;
}
.amarillo{
    color: rgb(255, 255, 190);
    font-size: 20px;
}
.rojo{
    color: rgb(202, 88, 88);
    font-size: 12px;
}